@use '../../variables' as v;

.mobile-menu {
  position: absolute;
  left: -100vw;
  z-index: 3;
  width: 100vw;
  height: calc(100vh - 66px);
  top: 66px;
  background: rgba(69, 146, 127, 0.9);
  backdrop-filter: blur(2px);
  transition: all 0.5s ease-in-out;

  &__container {
    margin: 48px 0 39px 19px;
  }

  &__link {
    display: block;
    margin-top: 10px;
    font-family: v.$font-stack;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
  }

  &__btn {
    margin-top: 50px;
    padding: 11px 24px;
    background-color: #FFFFFF;
    font-family: v.$font-stack;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: v.$nav-bg;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  
    &:hover {
      background-color: #dee7e5;
    }
  }

  &_open {
    left: 0;
  }
}