@use '../../variables' as v;

.appointment-form {
  display: none;
  width: 360px;
  position: fixed;
  z-index: 6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px 24px;
  background-color: v.$intro-bg;
  border-radius: 5px;
  font-family: v.$font-stack;

  &_open {
    display: block;
  }

  &__close-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50px;
    background-color: v.$intro-bg;
    font-size: 22px;
    color: v.$footer-bg;
    cursor: pointer;
  }

  &__close-btn:hover {
    color: v.$btn-teal;
  }

  &__title,
  &__message-text {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: v.$font-color-main;
  }

  &__label {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: v.$font-color-main;
  }

  &__select-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 21px;
    color: v.$font-color-main;
  }

  &__input,
  &__doctor, 
  &__date,
  &__time {
    margin: 8px 0;
    padding: 4px 12px;
    font-size: 16px;
    line-height: 21px;
    color: v.$font-color-main;
    border: 1px solid v.$btn-teal;
    border-radius: 50px;
  }

  &__input {
    width: 100%;
  }

  &__input:focus,
  &__doctor:focus,
  &__date:focus,
  &__time:focus {
    outline: 1px solid v.$footer-bg;
  }

  &__submit-btn,
  &__message-btn {
    display: block;
    margin: 8px auto 0;
  }

  &__message {
    display: none;
  }
}