.logo {
  width: 91px;
  height: 27px;
  background: center / cover url('logo.svg');

  &_white {
    background: center / cover url('logo_white.svg');
  }

  &_mobile {
    display: none;
    width: 62px;
    height: 18px;
  }
}

@media (max-width: 720px) {
  .logo {
    &_desktop {
      display: none;
    }

    &_mobile {
      display: block;
    }
  }
}