@use '../../variables' as v;

.slider {
  &__main {
    width: 1140px;
    height: 440px;
    margin: 100px auto 39px;
    display: flex;
    background-color: v.$slide-bg;
    border-radius: 5px;
  }

  &__text {
    width: 500px;
    padding: 53px 0 0 63px;
  }

  &__title {
    font-family: v.$font-stack;
    font-weight: 700;
    font-size: 38px;
    line-height: 49px;
    color: v.$font-color-main;
  }

  &__subtitle {
    font-family: v.$font-stack;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: v.$font-color-main;
  }

  &__list {
    margin-top: 16px;
    list-style-type: disc;
    list-style-position: inside;
  }

  &__list-item {
    margin-top: 8px;
    font-family: v.$font-stack;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: v.$font-color-main;
  }

  &__list-item > span {
    position: relative;
    right: 11px;
  }

  &__list-item::marker {
    color: v.$nav-bg;
    font-size: 20px;
  }

  &__price {
    margin-top: 33px;
    font-family: v.$font-stack;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: v.$font-color-main;
  }

  &__old-price {
    margin-left: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #868686;
    text-decoration: line-through;
  }

  &__button-container {
    margin-top: 26px;
    display: flex;
    gap: 14px;
  }

  &__btn {
    padding: 11px 58px;
  }

  &__separator {
    width: 130px;
    height: 440px;
    background-color: v.$slide-bg;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    transform: rotateY(180deg);
  }

  &__image {
    width: 692px;
    height: 440px;
    background: center / cover url('slider__image.png');
    border-radius: 0 5px 5px 0;
  }
}