@use '../../variables' as v;

.intro {
  background-color: v.$intro-bg;
  display: flex;

  &__container {
    height: 532px;
    position: relative;
    z-index: 1;
    width: 1140px;
    margin: 0 auto;
  }

  &__text {
    height: 100%;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
  }

  &__title {
    font-family: v.$font-stack;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: v.$font-color-main;
  }

  &__desc {
    font-family: v.$font-stack;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: v.$font-color-main;
  }

  &__image {
    position: absolute;
    left: 50%;
    z-index: 2;
    height: 532px;
    width: 50%;
    background: center / cover url('intro__image.png');
  }
}

@media (max-width: 1200px) {
  .intro {
    flex-direction: column;

    &__container {
      height: auto;
      width: 100%;
      order: 2;
    }

    &__text {
      width: 450px;
      margin: 0 auto;
      padding: 35px 0 53px;
    }

    &__image {
      position: static;
      width: 100%;
      margin: 0 auto;
      order: 1;
    }
  }
}

@media (max-width: 720px) {
  .intro {
    &__text {
      width: 340px;
    }

    &__title {
      font-size: 26px;
      line-height: 34px;
    }
  
    &__desc {
      font-size: 14px;
      line-height: 21px;
    }

    &__image {
      height: 288px;
    }
  }
}